<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Multiverse on The Highline</title>
	<meta name="author" content="Katie Parlante">
	
	<link href="/css/fountain.css" rel="stylesheet" type="text/css"/>
	<link href="/css/highline.css" rel="stylesheet" type="text/css"/>
	
	<script type="text/javascript" src="/js/jquery-1.3.2.js"></script>
	<script type="text/javascript" src="/js/mobile.detect.js"></script>
	

</head>
<body>
	<div id="top">
	<h1><a href="/">MULTIVERSE ON THE HIGHLINE</a></h1>
	<p>3 STRANGERS : 3 TWEETS : 1 ACCIDENTAL POEM</p>
	<p><a id="transit" href="/transit/">TRANSIT</a> : <a id="contemplation" href="/contemplation/">CONTEMPLATION</a> : <a id="aspiration" href="/aspiration/">ASPIRATION</a></p>
	</div>
	<div id="about">
		<p>Ooops, something went wrong. If the links above don't work, you might try again later.</p>
	</div>

</body>
</html>
