{% extends "base.html" %}
{% load sekizai_tags  %}

{% block body %}
	<div id="about">
	<div id=follow>Follow us on <a href="https://twitter.com/multivers_es">Twitter</a> : <a href=https://www.facebook.com/pages/Multiverse/244836708970327>Facebook</a><span class="fb-like" data-href="http://multivers.es/" data-send="false" data-width="450" data-show-faces="true" data-colorscheme="dark"></span></div>
	<h3><a href="/"><i>Multiverse</i></a> was created by Katie Parlante and Mimi Yin.</h3>
	<p>Multiverse is a set of simple rules that bring 3 strangers from the tweeting public together to create a momentary, singular expression of desire, nostalgia, rumination and locomotion that evokes the city and the people in it. Multiverse generates a progression of 3-line poems with a predisposition for verbal accidents that take advantage of quirks in the English language and the bazaar of human emotion on display in the Twitter public feed. 
	
	<p><a href="/press/">Multiverse on The Highline</a> will be installed 100 feet west of The Highline between 19th and 20th Streets every Friday and Saturday evening from sunset to closing time from Sept 7 - Oct 13, 2012.
	
	<p><a href="14thstreet">Multiverse on 14th</a> took place in the fountain at Union Square Park as a part of the <a href="http://www.artinoddplaces.org/">Art in Odd Places 2009</a> Festival and 
	<a href="/37thstreet/"><i>Multiverse on 37th</i></a> was a second installation of Multiverse in July 2010, a projection at <a href="http://www.chashama.org/home.php">Chashama</a> at 266 West 37th Street (just east of 8th Ave). We added a fourth poem ("Office") for this installation. <br>
	
	<p>You can follow Multiverse on <a href=https://www.facebook.com/pages/Multiverse/244836708970327>Facebook</a> and <a href=https://twitter.com/multivers_es>Twitter</a>. You can contact us @ <b>info at multivers dot es</b>.
	</div>
	

{% endblock %}
