<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Search Phrase Lab</title>
	<meta name="author" content="Katie Parlante">

	<link href="/css/madtwitter.css" rel="stylesheet" type="text/css"/>
	
	<script type="text/javascript" src="/js/jquery-1.3.2.js"></script>
	<script type="text/javascript" src="/js/madtwitter.js"></script>
	
	<script type="text/javascript">
	$(document).ready(function() {
		
	});
	</script>
	
</head>
<body>
	<form action="/cycle/" method="get">
		<p>Line 1: <input type="text" name="one" size="24" value=""></p>
		<p>Line 2: <input type="text" name="two" size="24" value=""></p>
		<p>Line 3: <input type="text" name="three" size="24" value="">
		<input type="submit" value="build me a stanza!"></p>
	</form>
	
	<p>&nbsp;</p>
	
	<form action="/phrases/" method="get">
	straight phrase data: <input type="text" name="search_phrase" size="24" value="">
	<input type="hidden" name="page" value="1">
	<input type="submit" value="find me some tweets!"/>
	</form>
	
	<p>&nbsp;</p>
	
	<form action="/animation/" method="get">
		<input type="submit" value="animation lab"/>
	</form>
	
	<p>&nbsp;</p>
	
	<form action="/tweets/" method="get">
		<input type="submit" value="what was the original data set again?"/>
	</form>
</body>
</html>
